# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/hamro_pasal_DB
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# JWT Security Configuration
JWT_SECRET=your_base64_encoded_jwt_secret_key
JWT_EXPIRY=10

# Mail / SMTP Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_ALERT_TO=admin@hamropasal.com

